

h1 {
  font-size: 70px;
  height: 80px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

button {
  width: 90px;
  padding: 10px;
  background: rgb(255, 123, 99);
  border: 2px solid transparent;
  outline: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

button:active {
  background: #ccc;
}

button:focus {
  border: 2px solid #ccc;
}

p {
  height: 35px;
}